html {height: 100%;}
body {
	font-family: 'BerninaSans', Tahoma, Helvetica, Arial, sans-serif;
    background-color: #877c73;
    height: 100%;
    font-size: 14px;
} 

.footer {
	width: 100%; 
	position:absolute; 
	bottom: 2px; 
	text-align: center;
}

.navbar-default {
  background-image: -moz-linear-gradient(top, #877c73, #877c73);
  background-image: -ms-linear-gradient(top, #877c73, #877c73);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#877c73), to(#877c73));
  background-image: -webkit-linear-gradient(top, #877c73, #877c73);
  background-image: -o-linear-gradient(top, #877c73, #877c73);
  background-image: linear-gradient(top, #877c73, #877c73);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'877c73, endColorstr='#'877c73, GradientType=0);
  background-color: #877c73;
  border-color: #877c73;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background-image: -webkit-linear-gradient(top,#877c73 0,#877c73 100%);
    background-image: -o-linear-gradient(top,#877c73 0,#877c73 100%);
    background-image: -webkit-gradient(linear,left top,left bottom,from(#877c73),to(#877c73));
    background-image: linear-gradient(to bottom,#877c73 0,#877c73 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#877c73', endColorstr='#877c73', GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #877c73;
}

.navbar-brand, .navbar-nav>li>a {
    text-shadow: none;
    font-size: 18px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #e78217;
    background-color: ##877c73;
}

.navbar-brand, .navbar-nav>li>a:hover {
    color: #e78217;
}

.navbar-brand {
    font-size: 26px;
}

.navbar-logo {
    float: left;
    padding-top: 5px;
    padding-left: 20px;
}

.sidebar ul li a.active {
    background-color: #877c73;
    color: #f9e90d;
}
.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color: #877c73;
    color: #fafafa;
}

.nav>li>a {
    color: #877c73;
}

.dropdown-toggle {
    color: #fafafa !important;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #877c73;
    border-color: #877c73;
}

.sidebar ul li a {
    color: #ece8e8;
}

.list-group-item {
     background-color: #dbd5c8;
}

.sidebar .fa.arrow:before {
    content: "\f107";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f106";
}

/* ------------------------------------------------------------ *\
	Styles for modals
\* ------------------------------------------------------------ */

@media screen and (min-width: 992px) {
	.modal-lg {
   		width: 1250px; /* New width for large modal */
   	}
}

.modal-dialog {
  position: relative;
}

.modal-content.ui-resizable {
  overflow-y: auto;
  position: static;
}

/* ------------------------------------------------------------ *\
	Styles for hiding the sidebar
\* ------------------------------------------------------------ */

.navbar-brand {
	padding-top: 5px;
}

#wrapper {
	position: relative;
	min-height: 100%;
}

#page-wrapper {
    background-color: #f6f6f6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;   
    padding-bottom: 30px;
}

.expand-page {
    margin: 0px !important;
}

.sidebar {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.hide-sidebar {
    width: 0px;
    margin-left: -250px;	
}

/* ------------------------------------------------------------ *\
	Nested Comments Styles
\* ------------------------------------------------------------ */
.post-comments {
  padding-bottom: 9px;
  margin: 5px 0 5px;
}

.comments-nav {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}

.post-comments .comment-meta {
  border-bottom: 1px solid #eee;
  margin-bottom: 5px;
}

.post-comments .media {
  border-left: 1px dotted #000;
  border-bottom: 1px dotted #000;
  margin-bottom: 5px;
  padding-left: 10px;
}

.post-comments .media-heading {
  font-size: 12px;
  color: grey;
}

.post-comments .comment-meta a {
  font-size: 12px;
  color: grey;
  font-weight: bolder;
  margin-right: 5px;
}

.label-info {
    background-color: #877c73;
}

/* ------------------------------------------------------------ *\
	Panels
\* ------------------------------------------------------------ */
.panel-brown .panel-heading {
    border-color: #696057;
    color: #fff;
    background-color: #877c73;
    text-transform: uppercase;
    text-decoration: none;   
}

.panel-orange .panel-heading {
    border-color: #F7A64F;
    color: #fff;
    background-color: #F7A64F;
}

.panel-secondary .panel-heading {
    border-color: #d1b199;
    color: #fff;
    background-color: #d1b199;
}

.panel-inner .panel-heading {
    border-color: #ddd;
    color: #6e655e;
    background-color: #dbd5c8;
}

.panel-heading {
    border-radius: 8px;
}
.panel-heading a:focus, a:hover {
    text-decoration: none;
}
.panel-title {
	font-size: 20px;	
}


/* ------------------------------------------------------------ *\
	Fieldset
\* ------------------------------------------------------------ */
fieldset.scheduler-border {
	border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}

.legend-text {
    font-size: 21px;
    color: #333;
}
/* ------------------------------------------------------------ *\
	Forms
\* ------------------------------------------------------------ */
.required-field:after {
    color: #d00;
    content: "*";
	font-size: 20px;
    margin-left: 3px;
    top: 6px;
    font-weight: bold;
}

.hidden-content:after {
    color: #fff;
}

.form-control {
    background-color: #ece8de;
    border: 1px solid #877c73;
    min-height: 34px;
}

.form-control[readonly], fieldset[disabled] .form-control {
    background-color: #f0eee9;
    opacity: 1;
}

/* ------------------------------------------------------------ *\
	Pagination
\* ------------------------------------------------------------ */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #F7A64F;
    border-color: #F7A64F;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    z-index: 2;
    color: #877c73;
    background-color: #eee;
    border-color: #ddd;
}
.pagination>li>a, .pagination>li>span {
    color: #877c73;
    font-weight: bold;
}

.pagination-prompt {
	padding-right: 30px; 
	margin-top: 28px;
}

/* ------------------------------------------------------------ *\
	Motive Table Style
\* ------------------------------------------------------------ */
thead {
    background-color: #dbd5c8;
    font-weight: 600;
    color: #6e655e;
    font-size: 14px;    
    border-radius: 5px 5px 0 0;
}

tbody {
	background-color: #eee9df;
    font-size: 14px;  
    font-weight: 400;
    color: #6e655e;  
}

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f0eee9;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #eee9df;
}

.table-striped td:nth-child(1)>a,
.table-striped td:nth-child(2)>a,
.table-striped td:nth-child(3)>a,
.table-striped td:nth-child(4)>a,
.table-striped td:nth-child(5)>a,
.table-striped td:nth-child(6)>a {
	color: #e78217;
    text-decoration: none;
    transition: color .3s, background-color .3s, border-color .5s;
    font-size: 16px;  
    font-weight: 400; 
}
.table-striped td:nth-child(2)>a:hover {
     color: #ca6002;   
}
.table-striped td {
     height: 60px;  
     padding: 12px !important;
}   
.table-striped th {
    font-weight: 600;
    color: #6e655e;
    text-transform: uppercase;
} 

.table-small td {
     height: 20px;
     padding: 6px 0px 0px 6px !important;
     vertical-align: middle !important;
}

/* ------------------------------------------------------------ *\
	Additional styles
\* ------------------------------------------------------------ */

#center-loading { color: #ffffff; position:fixed; width:300px; left:50%; top:50%; z-index:9; margin-left:-150px; z-index:9999; }
#center-loading img { display:block; margin:0 auto; }
.dialog { background: #7cc1be; padding: 10px; border-radius: 5px; box-shadow: 0 0 8px rgba(0,0,0,.5); }
.confirm-dialog { background: #7cc1be; padding: 10px; width: 240px; height: 120px; margin-left:-120px; position:fixed; left:50%; top:50%; border-radius: 5px; box-shadow: 0 0 8px rgba(0,0,0,.5); z-index: 50; overflow: hidden; display: none; }
.confirm-dialog p { font-size: 13px; line-height: 18px; color: #fff; }
.confirm-dialog .ico-close { background: url(images/ico-close.png); width: 10px; height: 10px; display: block; margin: 0 0 10px auto; cursor: pointer; }
.confirm-dialog .ok { float: right; margin: 30px 30px 0; }
.confirm-dialog .cancel { float: left; margin: 30px 0 0 30px; }
.confirm-dialog .success { text-align: center; }

.no-pointer {
    /* Prevents .tooltip from receiving pointer events. */
    pointer-events: none;
}

.daterangepicker {
	background-color: #877c73;
	background: #877c73;
}
.daterangepicker .calendar-table {
	background-color: #877c73;
	background: #877c73;	
}
.daterangepicker td, .daterangepicker th {
	border-radius: 0px;
}
.btn-success {
    background-color: #e78217;
    border-color: #e78217;
}

.detail-heading {
	color: #e78217;
}

.btn-motive-primary { 
  color: #ffffff; 
  background-color: #EB8A23; 
  border-color: #F7A64F; 
  font-weight: bold;
} 
 
.btn-motive-primary:hover, 
.btn-motive-primary:focus, 
.btn-motive-primary:active, 
.btn-motive-primary.active, 
.open .dropdown-toggle.btn-motive-primary { 
  color: #ffffff; 
  background-color: #F7A64F; 
  border-color: #F7A64F; 
} 
 
.btn-motive-primary:active, 
.btn-motive-primary.active, 
.open .dropdown-toggle.btn-motive-primary { 
  background-image: none; 
} 
 
.btn-motive-primary.disabled, 
.btn-motive-primary[disabled], 
fieldset[disabled] .btn-motive-primary, 
.btn-motive-primary.disabled:hover, 
.btn-motive-primary[disabled]:hover, 
fieldset[disabled] .btn-motive-primary:hover, 
.btn-motive-primary.disabled:focus, 
.btn-motive-primary[disabled]:focus, 
fieldset[disabled] .btn-motive-primary:focus, 
.btn-motive-primary.disabled:active, 
.btn-motive-primary[disabled]:active, 
fieldset[disabled] .btn-motive-primary:active, 
.btn-motive-primary.disabled.active, 
.btn-motive-primary[disabled].active, 
fieldset[disabled] .btn-motive-primary.active { 
  background-color: #EB8A23; 
  border-color: #F7A64F; 
} 
 
.btn-motive-primary .badge { 
  color: #EB8A23; 
  background-color: #ffffff; 
}

.btn-motive-secondary { 
  color: #ffffff; 
  background-color: #4D4742; 
  border-color: #7D746D; 
  font-weight: bold;
} 
 
.btn-motive-secondary:hover, 
.btn-motive-secondary:focus, 
.btn-motive-secondary:active, 
.btn-motive-secondary.active, 
.open .dropdown-toggle.btn-motive-secondary { 
  color: #ffffff; 
  background-color: #7D746D; 
  border-color: #7D746D; 
} 
 
.btn-motive-secondary:active, 
.btn-motive-secondary.active, 
.open .dropdown-toggle.btn-motive-secondary { 
  background-image: none; 
} 
 
.btn-motive-secondary.disabled, 
.btn-motive-secondary[disabled], 
fieldset[disabled] .btn-motive-secondary, 
.btn-motive-secondary.disabled:hover, 
.btn-motive-secondary[disabled]:hover, 
fieldset[disabled] .btn-motive-secondary:hover, 
.btn-motive-secondary.disabled:focus, 
.btn-motive-secondary[disabled]:focus, 
fieldset[disabled] .btn-motive-secondary:focus, 
.btn-motive-secondary.disabled:active, 
.btn-motive-secondary[disabled]:active, 
fieldset[disabled] .btn-motive-secondary:active, 
.btn-motive-secondary.disabled.active, 
.btn-motive-secondary[disabled].active, 
fieldset[disabled] .btn-motive-secondary.active { 
  background-color: #4D4742; 
  border-color: #7D746D; 
} 
 
.btn-motive-secondary .badge { 
  color: #4D4742; 
  background-color: #ffffff; 
}


.btn-motive-red { 
  color: #ffffff; 
  background-color: #ef581f; 
  border-color: #d54e1c; 
  font-weight: bold;
} 
 
.btn-motive-red:hover, 
.btn-motive-red:focus, 
.btn-motive-red:active, 
.btn-motive-red.active, 
.open .dropdown-toggle.btn-motive-red { 
  color: #ffffff; 
  background-color: #d54e1c; 
  border-color: #d54e1c; 
} 
 
.btn-motive-red:active, 
.btn-motive-red.active, 
.open .dropdown-toggle.btn-motive-red { 
  background-image: none; 
} 
 
.btn-motive-red.disabled, 
.btn-motive-red[disabled], 
fieldset[disabled] .btn-motive-red, 
.btn-motive-red.disabled:hover, 
.btn-motive-red[disabled]:hover, 
fieldset[disabled] .btn-motive-red:hover, 
.btn-motive-red.disabled:focus, 
.btn-motive-red[disabled]:focus, 
fieldset[disabled] .btn-motive-red:focus, 
.btn-motive-red.disabled:active, 
.btn-motive-red[disabled]:active, 
fieldset[disabled] .btn-motive-red:active, 
.btn-motive-red.disabled.active, 
.btn-motive-red[disabled].active, 
fieldset[disabled] .btn-motive-red.active { 
  background-color: #ef581f; 
  border-color: #d54e1c; 
} 
 
.btn-motive-red .badge { 
  color: #ef581f; 
  background-color: #ffffff; 
}

.btn-motive-green { 
  color: #ffffff; 
  background-color: #7cc1be; 
  border-color: #72b1ae; 
  font-weight: bold;
} 
 
.btn-motive-green:hover, 
.btn-motive-green:focus, 
.btn-motive-green:active, 
.btn-motive-green.active, 
.open .dropdown-toggle.btn-motive-green { 
  color: #ffffff; 
  background-color: #72b1ae; 
  border-color: #72b1ae; 
} 
 
.btn-motive-green:active, 
.btn-motive-green.active, 
.open .dropdown-toggle.btn-motive-green { 
  background-image: none; 
} 
 
.btn-motive-green.disabled, 
.btn-motive-green[disabled], 
fieldset[disabled] .btn-motive-green, 
.btn-motive-green.disabled:hover, 
.btn-motive-green[disabled]:hover, 
fieldset[disabled] .btn-motive-green:hover, 
.btn-motive-green.disabled:focus, 
.btn-motive-green[disabled]:focus, 
fieldset[disabled] .btn-motive-green:focus, 
.btn-motive-green.disabled:active, 
.btn-motive-green[disabled]:active, 
fieldset[disabled] .btn-motive-green:active, 
.btn-motive-green.disabled.active, 
.btn-motive-green[disabled].active, 
fieldset[disabled] .btn-motive-green.active { 
  background-color: #7cc1be; 
  border-color: #72b1ae; 
} 
 
.btn-motive-green .badge { 
  color: #7cc1be; 
  background-color: #ffffff; 
}

.btn-motive-brown { 
  color: #ffffff; 
  background-color: #d1b199; 
  border-color: #bfa28d; 
  font-weight: bold;
} 
 
.btn-motive-brown:hover, 
.btn-motive-brown:focus, 
.btn-motive-brown:active, 
.btn-motive-brown.active, 
.open .dropdown-toggle.btn-motive-brown { 
  color: #ffffff; 
  background-color: #bfa28d; 
  border-color: #bfa28d; 
} 
 
.btn-motive-brown:active, 
.btn-motive-brown.active, 
.open .dropdown-toggle.btn-motive-brown { 
  background-image: none; 
} 
 
.btn-motive-brown.disabled, 
.btn-motive-brown[disabled], 
fieldset[disabled] .btn-motive-brown, 
.btn-motive-brown.disabled:hover, 
.btn-motive-brown[disabled]:hover, 
fieldset[disabled] .btn-motive-brown:hover, 
.btn-motive-brown.disabled:focus, 
.btn-motive-brown[disabled]:focus, 
fieldset[disabled] .btn-motive-brown:focus, 
.btn-motive-brown.disabled:active, 
.btn-motive-brown[disabled]:active, 
fieldset[disabled] .btn-motive-brown:active, 
.btn-motive-brown.disabled.active, 
.btn-motive-brown[disabled].active, 
fieldset[disabled] .btn-motive-brown.active { 
  background-color: #d1b199; 
  border-color: #bfa28d; 
} 
 
.btn-motive-brown .badge { 
  color: #d1b199; 
  background-color: #ffffff; 
}


.btn-motive-checkout { 
  color: #ffffff; 
  background-color: #b28cab; 
  border-color: #9c7b96; 
  font-weight: bold;
} 
 
.btn-motive-checkout:hover, 
.btn-motive-checkout:focus, 
.btn-motive-checkout:active, 
.btn-motive-checkout.active, 
.open .dropdown-toggle.btn-motive-checkout { 
  color: #ffffff; 
  background-color: #b28cab; 
  border-color: #9c7b96; 
} 
 
.btn-motive-checkout:active, 
.btn-motive-checkout.active, 
.open .dropdown-toggle.btn-motive-checkout { 
  background-image: none; 
} 
 
.btn-motive-checkout.disabled, 
.btn-motive-checkout[disabled], 
fieldset[disabled] .btn-motive-checkout, 
.btn-motive-checkout.disabled:hover, 
.btn-motive-checkout[disabled]:hover, 
fieldset[disabled] .btn-motive-checkout:hover, 
.btn-motive-checkout.disabled:focus, 
.btn-motive-checkout[disabled]:focus, 
fieldset[disabled] .btn-motive-checkout:focus, 
.btn-motive-checkout.disabled:active, 
.btn-motive-checkout[disabled]:active, 
fieldset[disabled] .btn-motive-checkout:active, 
.btn-motive-checkout.disabled.active, 
.btn-motive-checkout[disabled].active, 
fieldset[disabled] .btn-motive-checkout.active { 
  background-color: #b28cab; 
  border-color: #9c7b96; 
} 
 
.btn-motive-checkout .badge { 
  color: #b28cab; 
  background-color: #ffffff; 
}


.btn-motive-checkin { 
  color: #ffffff; 
  background-color: #478986; 
  border-color: #3e7774; 
  font-weight: bold;
} 
 
.btn-motive-checkin:hover, 
.btn-motive-checkin:focus, 
.btn-motive-checkin:active, 
.btn-motive-checkin.active, 
.open .dropdown-toggle.btn-motive-checkin { 
  color: #ffffff; 
  background-color: #478986; 
  border-color: #3e7774; 
} 
 
.btn-motive-checkin:active, 
.btn-motive-checkin.active, 
.open .dropdown-toggle.btn-motive-checkin { 
  background-image: none; 
} 
 
.btn-motive-checkin.disabled, 
.btn-motive-checkin[disabled], 
fieldset[disabled] .btn-motive-checkin, 
.btn-motive-checkin.disabled:hover, 
.btn-motive-checkin[disabled]:hover, 
fieldset[disabled] .btn-motive-checkin:hover, 
.btn-motive-checkin.disabled:focus, 
.btn-motive-checkin[disabled]:focus, 
fieldset[disabled] .btn-motive-checkin:focus, 
.btn-motive-checkin.disabled:active, 
.btn-motive-checkin[disabled]:active, 
fieldset[disabled] .btn-motive-checkin:active, 
.btn-motive-checkin.disabled.active, 
.btn-motive-checkin[disabled].active, 
fieldset[disabled] .btn-motive-checkin.active { 
  background-color: #478986; 
  border-color: #3e7774; 
} 
 
.btn-motive-checkin .badge { 
  color: #478986; 
  background-color: #ffffff; 
}

.btn-motive-black { 
  color: #ffffff; 
  background-color: #696057; 
  border-color: #756b61; 
  font-weight: bold;
} 
 
.btn-motive-black:hover, 
.btn-motive-black:focus, 
.btn-motive-black:active, 
.btn-motive-black.active, 
.open .dropdown-toggle.btn-motive-black { 
  color: #ffffff; 
  background-color: #696057; 
  border-color: #756b61; 
} 
 
.btn-motive-black:active, 
.btn-motive-black.active, 
.open .dropdown-toggle.btn-motive-black { 
  background-image: none; 
} 
 
.btn-motive-black.disabled, 
.btn-motive-black[disabled], 
fieldset[disabled] .btn-motive-black, 
.btn-motive-black.disabled:hover, 
.btn-motive-black[disabled]:hover, 
fieldset[disabled] .btn-motive-black:hover, 
.btn-motive-black.disabled:focus, 
.btn-motive-black[disabled]:focus, 
fieldset[disabled] .btn-motive-black:focus, 
.btn-motive-black.disabled:active, 
.btn-motive-black[disabled]:active, 
fieldset[disabled] .btn-motive-black:active, 
.btn-motive-black.disabled.active, 
.btn-motive-black[disabled].active, 
fieldset[disabled] .btn-motive-black.active { 
  background-color: #696057; 
  border-color: #756b61; 
} 
 
.btn-motive-black .badge { 
  color: #696057; 
  background-color: #ffffff; 
}


.btn-motive-yellow { 
  color: #ffffff; 
  background-color: #f9e90d; 
  border-color: #e3d40d; 
  font-weight: bold;
} 
 
.btn-motive-yellow:hover, 
.btn-motive-yellow:focus, 
.btn-motive-yellow:active, 
.btn-motive-yellow.active, 
.open .dropdown-toggle.btn-motive-yellow { 
  color: #ffffff; 
  background-color: #f9e90d; 
  border-color: #e3d40d; 
} 
 
.btn-motive-yellow:active, 
.btn-motive-yellow.active, 
.open .dropdown-toggle.btn-motive-yellow { 
  background-image: none; 
} 
 
.btn-motive-yellow.disabled, 
.btn-motive-yellow[disabled], 
fieldset[disabled] .btn-motive-yellow, 
.btn-motive-yellow.disabled:hover, 
.btn-motive-yellow[disabled]:hover, 
fieldset[disabled] .btn-motive-yellow:hover, 
.btn-motive-yellow.disabled:focus, 
.btn-motive-yellow[disabled]:focus, 
fieldset[disabled] .btn-motive-yellow:focus, 
.btn-motive-yellow.disabled:active, 
.btn-motive-yellow[disabled]:active, 
fieldset[disabled] .btn-motive-yellow:active, 
.btn-motive-yellow.disabled.active, 
.btn-motive-yellow[disabled].active, 
fieldset[disabled] .btn-motive-yellow.active { 
  background-color: #f9e90d; 
  border-color: #e3d40d; 
} 
 
.btn-motive-yellow .badge { 
  color: #f9e90d; 
  background-color: #ffffff; 
}


.btn-motive-darkbrown-nohover { 
  color: #ffffff; 
  background-color: #877c73; 
  border-color: #696057; 
  font-weight: bold;
}
.btn-motive-darkbrown-nohover:hover, 
.btn-motive-darkbrown-nohover:focus, 
.btn-motive-darkbrown-nohover:active, 
.btn-motive-darkbrown-nohover.active, 
.open .dropdown-toggle.btn-motive-darkbrown-nohover { 
  color: #ffffff; 
  background-color: #877c73; 
  border-color: #696057; 
  font-weight: bold;
} 

.btn-motive-darkbrown { 
  color: #ffffff; 
  background-color: #877c73; 
  border-color: #696057; 
  font-weight: bold;
} 
 
.btn-motive-darkbrown:hover, 
.btn-motive-darkbrown:focus, 
.btn-motive-darkbrown:active, 
.btn-motive-darkbrown.active, 
.open .dropdown-toggle.btn-motive-darkbrown { 
  color: #ffffff; 
  background-color: #696057; 
  border-color: #696057; 
} 
 
.btn-motive-darkbrown:active, 
.btn-motive-darkbrown.active, 
.open .dropdown-toggle.btn-motive-darkbrown { 
  background-image: none; 
} 
 
.btn-motive-darkbrown.disabled, 
.btn-motive-darkbrown[disabled], 
fieldset[disabled] .btn-motive-darkbrown, 
.btn-motive-darkbrown.disabled:hover, 
.btn-motive-darkbrown[disabled]:hover, 
fieldset[disabled] .btn-motive-darkbrown:hover, 
.btn-motive-darkbrown.disabled:focus, 
.btn-motive-darkbrown[disabled]:focus, 
fieldset[disabled] .btn-motive-darkbrown:focus, 
.btn-motive-darkbrown.disabled:active, 
.btn-motive-darkbrown[disabled]:active, 
fieldset[disabled] .btn-motive-darkbrown:active, 
.btn-motive-darkbrown.disabled.active, 
.btn-motive-darkbrown[disabled].active, 
fieldset[disabled] .btn-motive-darkbrown.active { 
  background-color: #877c73; 
  border-color: #696057; 
} 
 
.btn-motive-darkbrown .badge { 
  color: #877c73; 
  background-color: #ffffff; 
}


.btn-motive-darkyellow { 
  color: #ffffff; 
  background-color: #E6D80C; 
  border-color: #D3C60B; 
  font-weight: bold;
} 
 
.btn-motive-darkyellow:hover, 
.btn-motive-darkyellow:focus, 
.btn-motive-darkyellow:active, 
.btn-motive-darkyellow.active, 
.open .dropdown-toggle.btn-motive-darkyellow { 
  color: #ffffff; 
  background-color: #E6D80C; 
  border-color: #D3C60B; 
} 
 
.btn-motive-darkyellow:active, 
.btn-motive-darkyellow.active, 
.open .dropdown-toggle.btn-motive-darkyellow { 
  background-image: none; 
} 
 
.btn-motive-darkyellow.disabled, 
.btn-motive-darkyellow[disabled], 
fieldset[disabled] .btn-motive-darkyellow, 
.btn-motive-darkyellow.disabled:hover, 
.btn-motive-darkyellow[disabled]:hover, 
fieldset[disabled] .btn-motive-darkyellow:hover, 
.btn-motive-darkyellow.disabled:focus, 
.btn-motive-darkyellow[disabled]:focus, 
fieldset[disabled] .btn-motive-darkyellow:focus, 
.btn-motive-darkyellow.disabled:active, 
.btn-motive-darkyellow[disabled]:active, 
fieldset[disabled] .btn-motive-darkyellow:active, 
.btn-motive-darkyellow.disabled.active, 
.btn-motive-darkyellow[disabled].active, 
fieldset[disabled] .btn-motive-darkyellow.active { 
  background-color: #E6D80C; 
  border-color: #D3C60B; 
} 
 
.btn-motive-darkyellow .badge { 
  color: #E6D80C; 
  background-color: #ffffff; 
}


.login-background {
	position: absolute; 
	z-index: 0; 
	top: 0; bottom: 0; left: 0; right: 0; 
	width: 100%; 
	height: 25%; 
	background: url(images/pattern.png);
}											

.rf-msg-err, .rf-msgs-err, .rf-msg-ftl, .rf-msgs-ftl, .rf-msg-inf,
.rf-msgs-inf, .rf-msg-wrn, .rf-msgs-wrn, .rf-msg-ok, .rf-msgs-ok {
   display: list-item;
   margin-left: 20px;
   padding-left: 0px; }

.rf-msg-err, .rf-msgs-err, .rf-msg-inf, .rf-msgs-inf{ background-image:none; }
.radioButtonSpace table tbody td {padding-right:20px;}
.radio input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: 0px; 
}

.panel-motive-red {
    border-color: #ef581f;
}

.faded {
	opacity: 0.45;
}

.tooltip.top .tooltip-inner {
    background-color:#696057;
}
.tooltip.top .tooltip-arrow {
      border-top-color: #696057;
}

.popover{
    max-width: 40%; /* Max Width of the popover (depending on the container!) */
}

.panel-motive-red .panel-heading {
    border-color: #ef581f;
    color: #fff;
    background-color: #ef581f;
}

.panel-motive-red a {
    color: #d9534f;
}

.panel-motive-red a:hover {
    color: #b52b27;
}

.panel-motive-orange {
    border-color: #f5915d;
}

.panel-motive-orange .panel-heading {
    border-color: #f5915d;
    color: #fff;
    background-color: #f5915d;
}

.panel-motive-orange a {
    color: #f5915d;
}

.panel-motive-orange a:hover {
    color: #df8a13;
}

.panel-motive-purple {
    border-color: #d7a7cd;
}

.panel-motive-purple .panel-heading {
    border-color: #d7a7cd;
    color: #fff;
    background-color: #d7a7cd;
}

.panel-motive-purple a {
    color: #d7a7cd;
}

.panel-motive-purple a:hover {
    color: #c379b4;
}

.panel-motive-aqua {
    border-color: #82cccb;
}

.panel-motive-aqua .panel-heading {
    border-color: #82cccb;
    color: #fff;
    background-color: #82cccb;
}

.panel-motive-aqua a {
    color: #82cccb;
}

.panel-motive-aqua a:hover {
    color: #75b7b6;
}

.motive-alert-info {
    color: #31708f;
    background-color: #e4e1d0;
    border-color: #d7d4c4;
}


/* ------------------------------------------------------------ *\
	Motive Palette Colors. For reference only.
\* ------------------------------------------------------------ */

.motive-primary-brown {
	color: #696057;
}

.motive-primary-red {
	color: #ef581f;
}

.motive-primary-yellow {
	color: #f3e02a;
}

.motive-primary-orange {
	color: #ea8b17;
}

.motive-secondary-grey {
	color: #e4e1d0;
}

.motive-secondary-aqua {
	color: #82cccb;
}

.motive-secondary-orange {
	color: #f5915d;
}

.motive-secondary-purple {
	color: #d7a7cd;
}

.motive-welcome-text {
	width: 240px;
	color: #ffffff;
	font-weight: bold;
	text-align: right;
}

.motive-tenant-text {
	color: #ffffff;
	font-weight: bold;
}

.popover-title {
	color: #fff;
    background-color: #877c73;
	font-weight: bold;
}

.popover-content {
    background-color: #f0eee9;
    word-wrap: break-word;
}

.table {
    table-layout: fixed;
    word-wrap: break-word;
}

.error-message {
	color: #ff0000;
}

.info-message {
	color: #4D4742;
}


/* Styles for Toggle Switch */

.onoffswitch {
    position: relative; width: 70px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #478986; color: #478986;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #d1b199; color: #d1b199;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 22px; margin: 4px;
    background: #EDEDED;
    position: absolute; top: 0; bottom: 0;
    right: 36px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.sliderlabeltext {
	left: 5px;
	top: 3px; 
	padding-left: 20px; 
	position: relative; 
	display: inline-block; 
	font-size: 21px; 
	font-weight: normal;
}

/* End of styles for Toggle Switch */


.artifact-status-text {
    padding-left: 10px; 
    top: 12px;
    position: relative; 
    display: inline-block; 
    font-size: 18px; 
    font-weight: normal;
}